
table {
    width: 100%;
}
.title{
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
    color: white;
        
}
.container{
    margin: 1% 20%;   
}
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }

  .icosearch{
    cursor:pointer;
  }
  .icoedit{
    cursor: pointer;
    color: blue;
  }
  .icodelete{
    cursor: pointer;
    color: red;
  }
  .butagregar{
    padding: 10px;
    font-size: small;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
  }
  .butagregar:hover{
    padding: 10px;
    font-size: small;
    background-color: blue;
    border-radius: 10px;
    color: white;
  }
  mat-form-field {
    width: 100%;
    padding: 0 3px;
  }  
  mat-grid-tile{
   
  }